@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* fonts */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700;800&display=swap');

  /*fonts*/

/* COMMON CSS STARTS HERE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,span,ul,ol{
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a{
    text-decoration: none;
}

:root{
    --primary_color: #02918c;
    --primary_font_color: #7e8287;
    --button_color: #cfc91d;
    --black_font: #000;
    --white_font: #fff;
}

body{
    font-family: 'Open Sans', sans-serif;
    color: var(--primary_font_color);
    
}

button{
    width: 196px;
    height: 47px;
    background-color: var(--button_color);
    margin-top: 136px;
}

button a{
    color: var(--black_font);
    font-size: 14px;
    font-weight: bold;
}
/* COMMON CSS ENDS HERE */

/* Navbar starts here */
.myNavbar{
    background-color: var(--primary_color) ;
}


#myCustomNav ul li a{
    color: var(--white_font);
    font-weight: 800;
    font-size: 12px;
    padding: 26px 51px;
}
/* Navbar endss here */

/* banner section Starts here */
#banner{
    height: 729px;
    width: 100%;
    background-image: url(../Images/banner_bg.jpg);
    background-size: cover;
    color: var(--white_font);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

#banner h3{
    font-size: 30px;
}

#banner h2{
    font-size: 68px;
    font-weight: bolder;
    letter-spacing: 30px;
    padding: 5px 0px;
}

#banner h6{
    font-size: 18px;
}

#banner img{
    position: absolute;
    top: 55%;
    left: 47%;
}

/*  Banner section Ends here */

/* ABOUT ME SECTION STARTS HERE */

#aboutMe{
    width: 100%;
    margin-top: 100px;
    position: relative;
}


.about_heading h2{
    color: var(--primary_color);
    font-weight: bolder;
    font-size: 46px;
    text-align: center;
}

.about_heading img{
   position: absolute;
   left: 45%;
   top: 15%;
}

.about_heading p{
    font-size: 16px;
    height: 90px;
   margin: auto;
   margin-top: 70px;
   line-height: 43px;
   text-align: center;
}

.about_heading p span{
    font-size: 23px;
    font-weight: bold;
}

.about_cntnt{
    margin-top: 120px;
}

.about-card h4{
 padding-top: 10px;
 font-size: 16px;
 font-weight: bold;
}

.about-card p{
    padding-top: 10px;
    font-size: 11px;
}

/* ABOUT ME SECTION ENDS HERE */

/* SERVICE SECTION STARTS HERE */
#services{
    width: 100%;
    background: url(../Images/service-bg.jpg);
    background-size: cover;
    margin-top: 80px;
}

.service_heading h2{
    color: var(--primary_color);
    font-weight: bolder;
    font-size: 46px;
    display: inline-block;
    margin-top: 30px;
}

.service_heading img{
    margin-top: 30px;
    display: block;
}

.service_heading p{
    font-size: 16px;
    margin-top: 30px;
}

.service-card{
    padding-top: 50px;
}

.service-card h4{
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}

.service-card p{
    margin-top: 10px;
    font-size: 11px;
    padding-bottom: 30px;
}
/* SERVICE SECTION ENDS HERE */

/* MY WORK SECTION STARTS HERE */

#mywork{
    width: 100%;
    margin-top: 100px;
}

#mywork h2{
    color: var(--primary_color);
    font-weight: bolder;
    font-size: 46px;
    margin-top: 40px; 
    margin-bottom: 40px;
}

#mywork .img img{
    width: 100%;
}
/* MY WORK SECTION ENDS HERE */